<!--
  Generated template for the PublicacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Crear publicacion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="container bg-light">
	<div class="px-4 py-3">
			<ion-item round >
				
		 	<ion-label>Categoria</ion-label>
		 	<ion-select [(ngModel)]="nota" >
		 		<ion-option  *ngFor="let op of option" value="{{op.nombre}}">{{op.nombre}}</ion-option>		 
		 	</ion-select>
		 </ion-item>
			<form [formGroup]="formularioPubli" (ngSubmit)="savePubli()">
				<ion-list>
					<!--Input email-->
					<ion-item>
					    
					    <ion-label stacked>Título:</ion-label>
					    <ion-input formControlName="titulo" type="text" placeholder="Título" name="titulo"></ion-input>
        			</ion-item>
			        <ion-item *ngIf="formularioPubli.get('titulo').errors && formularioPubli.get('titulo').dirty" class="error">
			          <p color="danger" *ngIf="formularioPubli.get('titulo').hasError('required')" class="error">
			            El título es requerido.
			          </p>
			          <p *ngIf="formularioPubli.get('titulo').hasError('minlength')" class="error">
			            El minimo de caracteres es 10
			          </p>
			      </ion-item>
				  <!--Input email-->
				     <!--Input password-->	

		 
				<!--Input password-->
					   <!--Input password-->				  	    	 
		        <ion-item>		          
		          <ion-label stacked>Pregunta:</ion-label>
		          <ion-textarea formControlName="text" type="textarea" placeholder="Escribe una pregunta" name="text"></ion-textarea>
		        </ion-item>
		         <ion-item *ngIf="formularioPubli.get('text').errors && formularioPubli.get('text').dirty" class="error">			         
					    <p *ngIf="formularioPubli.get('text').hasError('required')" class="error">
					    El texto es requerido
					     </p>
					      <p *ngIf="formularioPubli.get('text').hasError('minlength')" class="error">
			            El minimo de caracteres es 40
			          </p>
				</ion-item>
				<!--Input password-->
				</ion-list>						
			
	<div class="mt-2" align="center">
			  <button ion-button round  [disabled]="!formularioPubli.valid" >Crear pregunta</button>
			</div>
		</form>
	
			
			

		</div>
	
		
</ion-content>
