<ion-header>
  <ion-navbar>
    <ion-title> Miembros</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="container bg-light">

        <ion-list>                          
            <ion-item no-lines *ngFor="let user of _sp.miembros">              
            <ion-avatar item-start>
               <img *ngIf="user.foto!=null" [src]="user.foto | urlfoto" (click)=perfil(user.nick)>       
               <img *ngIf="user.foto==null" src="assets/imgs/user.png" (click)=perfil(user.nick)>                              
            </ion-avatar>
                <p>{{user.name}}</p>
                <p>{{user.nick}}</p>
            </ion-item>          
        </ion-list>           
        
</ion-content>