<ion-header>
  <ion-navbar>
    <ion-title> Crear publicación</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="container bg-light">
  <ion-refresher (ionRefresh)="recargar($event)">
     <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <div class="px-4 py-3">
      
        
      <form [formGroup]="formularioPubli" (ngSubmit)="savePubli()">
        <ion-list>          
             <!--Input idea-->                   
            <ion-item>              
              <ion-label stacked>Idea:</ion-label>
              <ion-textarea formControlName="text" type="textarea" placeholder="Escribe una idea" name="text"></ion-textarea>
            </ion-item>
             <ion-item *ngIf="formularioPubli.get('text').errors && formularioPubli.get('text').dirty" class="error">              
              <p *ngIf="formularioPubli.get('text').hasError('required')" class="error">
              El texto es requerido
               </p>
                <p *ngIf="formularioPubli.get('text').hasError('minlength')" class="error">
                  El minimo de caracteres es 40
                </p>
        </ion-item>
        <!--Input idea-->
        </ion-list>           
      </form>
  <div class="mt-2" align="center">
        <button ion-button block (click)="savePubli('false')" name="op" value="'false'">Crear pregunta</button>
      </div>
       <div class="mt-2" align="center">
        <button ion-button block color="danger" (click)="savePubli('true')" name="op" value="'true'" >Crear pregunta anonima</button>
      </div>
    </div>   
</ion-content>
