<ion-header>
  <ion-navbar align="center">
    <ion-title>
      Foro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-ligth">
  <ion-refresher (ionRefresh)="recargar($event)">
     <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 <div padding>
  <ion-segment [(ngModel)]="pet">
    <ion-segment-button value="Preguntas">
      Preguntas
    </ion-segment-button>
    <ion-segment-button value="Categoria">
      Categoría
    </ion-segment-button>
      <ion-segment-button value="Mspre">
      Mis preguntas
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="pet">

  <ion-list *ngSwitchCase="'Preguntas'">
    <ion-item *ngFor="let pregun of _fp.preguntas" >
      <ion-avatar item-start>
    <img [src]="pregun.user.foto | urlfoto" (click)=perfil(pregun.user.nick)>       
      </ion-avatar>
     <I> <h2>{{pregun.user.name}}</h2></I>
      <p>{{pregun.categoria.nombre}}</p>
      <p (click)="comentario(pregun,pregun.user)" align="left">{{pregun.descripcion}} </p>
    </ion-item>
  </ion-list>
  <ion-list *ngSwitchCase="'Categoria'">
      <ion-item *ngFor="let pregun of _fp.categoria" (click)="cate(pregun)">
      <h2>{{pregun.nombre}}</h2>  
    </ion-item>
  </ion-list>
  <ion-list *ngSwitchCase="'Mspre'">
      <ion-item *ngFor="let pregun of _fp.mspreguntas" (click)="comentario(pregun,_us.me)">
      <h2>{{pregun.categoria.nombre}}</h2>  
    <p style="word-break: break-all;"> {{pregun.descripcion}}</p>
    </ion-item>
  </ion-list>
</div>

<ion-fab bottom right > 
 <button ion-fab mini color="danger" (click)="addpublicacion()"><ion-icon name="ios-create-outline"></ion-icon></button>
</ion-fab>

</ion-content>
