<ion-header>
  <ion-navbar>
    <ion-title>
      Foros
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content color="primary">
 <div padding>
  <ion-segment [(ngModel)]="pet">
    <ion-segment-button value="Preguntas">
      Preguntas
    </ion-segment-button>
    <ion-segment-button value="Categoria">
      Categoria
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="pet">

  <ion-list *ngSwitchCase="'Preguntas'">
    <ion-item *ngFor="let pregun of _fp.preguntas" >
      <ion-avatar item-start>
    <ion-icon name="person" md (click)=perfil(pregun.user.nick)></ion-icon>        
      </ion-avatar>
      <h2>{{pregun.user.name}}</h2>
      <p>{{pregun.titulo}}</p>
      <p (click)="comentario()">{{pregun.descripcion}} </p>
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'Categoria'">
      <ion-item *ngFor="let pregun of _fp.categoria" (click)="cate(pregun)">
      <h2>{{pregun.nombre}}</h2>  
    </ion-item>
  </ion-list>

</div>

 <ion-fab bottom right > 
 <button ion-fab mini (click)="addpublicacion()"><ion-icon name="ios-create-outline"></ion-icon></button>
</ion-fab>
</ion-content>
